<!DOCTYPE html>

<html> 
     <head>
          <title>About</title>
          <link rel="icon" href="/img/cloudy.png">
          <link rel="stylesheet" href="./css/style.css">
     </head>
     <body>
          <div class="main-content">
               {{>header}}
               <p>This site is created by Hitender Gupta. It uses the mapbox and weatherstack to forecast the weathet!!!</p>
               <img class="portrait" src='./img/nishu.jpg'>
          </div>        
         
          {{>footer}}
     </body>
</html>